body{
    color:blue;
}

/* @media (max-width:600px){
    .cellphone{
        color:red;
    }
}

@media (min-width:600px) and (max-width:900px){
    .tablet{
        color:red;
    }
} */

/* @media (min-width:992px){
    .desktop{
        color:red;
    }
} */

/* 가로 비율이 세로 비율보다 길 때 */
@media (orientation:landscape){
    body{display:flex;color:green;}
        
    .desktop{color:blue;}
}

/* 세로 비율이 가로 비율보다 길 때 */
@media (orientation:portrait){
    body{color:orange;}
}

/* 인쇄되는 화면에서 나올 스타일 */
@media print {
    body{
        color:purple;
    }
}